body {
  font-family: 'Verdana';
  background-color: #feffb8;
}

.titulo {
  text-align: center;
  margin: 0 auto;
  font-size: 250%;
  background-color: #ffb56b;
}

.form-registro {
  font-size: 20px;
  margin-left: 600px;
  margin-top: 170px;
}

button {
  font-size: 20px;
  background-color: #ceb0ff;
  border: 2px solid #b88cff;
  border-radius: 20px;
  padding: 16px 16px;
  transition-duration: 0.4s;
}

.msg {
  margin-bottom: 450px;
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}